<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Feedback</title>
    

</head>
<body style="margin:0%; padding: 0%;  background-size: cover;align:center;" >
    
    <div class="container" style="align:center" >
        <h1>College Feedback</h1>
        <br>
        <form method="POST" class="form-group">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            <p style=" font-size:25px; font-family: sans-serif; ">Review your College</p>
            {{form.Sentence}}
            <br>
            <button class="btn btn-warning form-control" type="submit">Submit</button>
        </form>
        <h1>Result</h1>
        {% if text == 'Positive' %}
        <div class="positive" style="background-color: green; width: 100px; border-radius: 24px; padding: 12px; color: white; text-align: center;">
            Positive
        </div>
        {% elif text == 'Negative' %}
        <div class="negative" style="background-color: red; width: 100px; border-radius: 24px; padding: 12px; color: white">
            Negative
        </div>
        {% endif %}
    </div>
</body>
</html>